.active-btn {
  border-bottom: 2px solid var(--orange) !important;
}

.active-btn-login {
  position: absolute;
  right: 32px;
}

.nav-header {
  max-width: 100%;
  min-width: 30%;
  background-color: var(--black);
  margin: 1em 0;
}
